{% extends "index.html" %}
{% block content %}
<div class="content">
    <h1>Collecting height</h1>
    <h3>Please fill the form to get the entire population statistics</h3>
    <form action="{{url_for('success')}}" method="POST">
        <input title="Your email will be safe with us" placeholder="Enter your email address" 
        type="email" name="email_name" required><br>
        <input title="Your email will be safe with us" placeholder="Enter your heigth in cm" 
        type="number" min="50" max="300" name="size_name" required><br>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}