<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand led-light" ><img src="{{url_for('static',filename='imgs/led-light.svg')}}" width="30" height="30" class="d-inline-block align-top" alt="">LED</a>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav my-2" style="list-style-type: none">
        <li class="nav-item active ">
          <a class="nav-link" href="#"><i class="fa fa-bars" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Story</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  